
html, body {
    margin: 0;
    padding: 0;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0;
    
}

.wrapper {
    width: 60%;
    text-align: left;
    height: 100%;
    margin: auto;
    position: relative;
    display: inline-block;
}

.brick {
    display: inline-block;
    float: left;
    width: 33%;
    height: 33%;
}
.brick.horizontal {
    width: 66%;
}
.brick.vertical {
    height: 66%;
}

.brick.five {
    background-color: #eaeaea;
}

.brick.one, .brick.six {
    background-color: #d0d0d0;
}

.brick.four {
    background-color: #a0a0a0;
}

.brick.two {
    background-color: #757575;
}

.brick.three {
    background-color: #858585;
}

@media all and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 2/3) {
    .brick.one, .brick.six {
        width: 100%;
        height: 23%;
    }
    .brick.three, .brick.four, .brick.five {
        width: 40%;
        height: 18%;
    }
    .brick.two {
        width: 60%;
        height: 54%;
    }

}

@media all and (max-aspect-ratio: 2/3) {
    .brick.horizontal, .brick.vertical, .brick {
        width: 100%;
        height: 13%;
    }
    .brick.three {
        height: 50%;
    }
    .brick.five {
        height: 24%;
    }
    .brick.nosmart {
        display: none;
    }

}
